<launch>
  <!-- start map_server with a map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find move_humans_config)/maps/laas_adream.yaml"/>

  <!-- transform between humans_frame and map -->
  <node pkg="tf" type="static_transform_publisher" name="map_humans_link" args="0 0 0 0 0 0 map humans_frame 20" />

  <!-- start move_humans node with multigoal_planner and teleport_controller -->
  <node name="move_humans_node" pkg="move_humans" type="move_humans" output="screen" required="true">
    <rosparam file="$(find move_humans_config)/config/move_humans_params.yaml" command="load"/>

    <rosparam file="$(find move_humans_config)/config/planner_costmap_params.yaml" command="load" ns="planner_costmap" />
    <rosparam file="$(find move_humans_config)/config/controller_costmap_params.yaml" command="load" ns="controller_costmap" />

    <rosparam file="$(find move_humans_config)/config/humans.yaml" command="load"/>

    <rosparam file="$(find move_humans_config)/config/multigoal_planner_params.yaml" command="load" ns="/move_humans_node/MultiGoalPlanner"/>
    <param name="planner" value="multigoal_planner/MultiGoalPlanner"/>
    <rosparam file="$(find move_humans_config)/config/teleport_controller_params.yaml" command="load" ns="/move_humans_node/TeleportController"/>
    <param name="controller" value="teleport_controller/TeleportController"/>
  </node>

  <!-- launch rviz if asked -->
  <arg name="rviz" default="false"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find move_humans_config)/rviz/move_humans.rviz" if="$(arg rviz)"/>
  <include file="$(find move_humans_config)/launch/rosbridge.launch" unless="$(arg rviz)"/>
</launch>
